<h3>angular task started</h3>
<!-- <app-task11-parent></app-task11-parent>
<app-task10></app-task10>
<app-task9></app-task9>
<app-task8></app-task8>
<app-task7></app-task7>
<app-task6></app-task6>
<app-test5></app-test5>
<app-tast4></app-tast4>
<app-task3></app-task3>
<app-test2></app-test2>
<app-test1></app-test1> -->
<app-test1></app-test1>
<app-test2></app-test2>
<app-task3></app-task3>
<app-tast4></app-tast4>
<app-test5></app-test5>
<app-task6></app-task6>
<app-task7></app-task7>
<app-task8></app-task8>
<app-task9></app-task9>
<app-task10></app-task10>
<app-task11-parent></app-task11-parent>