<p>task3 works!</p>

<h3>Apply Class Binding to button, when button on click to change text style to italic & text color should 
    be change.</h3>

<button (mouseover)="divstru()" (mouseout)="divstru1()"></button>
<div [ngStyle]="jsonobj">
Find square & cube of number on click event use as radio button.
Take number as hard coded for time being & display the
result in another text box, square & cube respectively.
Find square & cube of number on click event use as radio button.
Take number as hard coded for time being & display the
result in another text box, square & cube respectively.
Find square & cube of number on click event use as radio button.
Take number as hard coded for time being & display the
result in another text box, square & cube respectively.
</div>